<style>
    body {
        font-size: 14px;
        padding: 0 !important;
        margin: 0 !important;
        background: #ffffff;
    }
    * {
        padding: 0;
        margin: 0;
        border: 0;
    }

    .timely-chat-context {
        position: absolute;
        left: 0;
        top: 0;
        right: 0px;
        bottom:calc(52px + env(safe-area-inset-bottom));
        width: 100%;
        height: auto;
        background-color: #EDEDED;
        overflow: auto;
        padding: 5px 0;

    }

    .mine {
        margin-left: 20%;
        padding: 5px 0;
        text-align: right;
    }

    .mineCont {
        display: inline-block;
        margin-right: 15px;
        margin-left: 15px;
    }

    .mineText {
        position: relative;
        display: inline-block;
        padding: 8px;
        color: #000;
        background-color: #F5F5F5;
        min-width: 50px;
        min-height: 20px;
        line-height: 20px;
        border-radius: 2px;
        word-break: break-all;
        text-align: left;
        margin-top: 3px;
    }
    .mineTop{
        margin-bottom: 5px;
        margin-left: 10px;
    }
    .mineTop span {
        color: #BBB;
        font-weight: 300;
    }

    .is-read {
        margin-right: 5px;
        color: #FF5722;
        font-size: 12px;
    }

    .is-read.active {
        color: #DDD;
    }

    .is-left .mineTips {
        position: absolute;
        top: 13px;
        width: 9px;
        height: 9px;
        left: -6px;
        background: #fff;
        border-bottom: 1px solid #dedede;
        border-right: 1px solid #dedede;
        transform: rotate(135deg);
    }

    .is-right .mineTips {
        position: absolute;
        top: 13px;
        width: 9px;
        height: 9px;
        right: -5px;
        background: #95EC69;
        border-bottom: 1px solid #95EC69;
        border-right: 1px solid #95EC69;
        transform: rotate(45deg);
    }

    .timely-chat-footer {
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        border-top: 1px solid #EEE;
        height: 120px;
        background-color: #FFF;
    }

    .timely-chat-footer ul li {
        display: inline-block;
        padding-left: 5px;
    }

    .timely-chat-footer ul li i {
        font-size: 24px;
    }
    .timely-chat-footer .chat-tool {
        color: #bdd0d1;
    }

    .chat-text {
        padding: 0 10px;
        margin-top: 5px;
        width: calc(100% - 100px);
        height: 80px;
        line-height: 20px;
        outline: 0;
    }

    .listmore {
        margin-top: 5px;
        margin-bottom: 5px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        text-align: center;
    }

    .listmore a {
        color: #54B0E5;
        cursor: pointer;
    }

    .chat-content .layui-timely-photos {
        max-width: 100px;
        max-height: 100px;

    }
    .chat-content a{
        color:#4277E3;
    }

    .timely-chat-area-shadeFull {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #FFF;
        text-align: center;
        line-height: 120px;
    }

    .timely-chat-area-shadeFull a {
        color: #56b7c7;
        cursor: pointer;
    }

    .timely-chat-system-message {
        padding: 5px 0;
        text-align: center;
    }

    .timely-chat-system-message p {
        display: inline-block;
        padding: 0 10px;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
        background-color: #EEE;
        color: #AAA;
    }

    .chat-iframe-write {
        position: relative;
        padding: 15px 20px 0;
        text-align: center;
    }

    .chat-iframe-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .chat-iframe-write h4 {
        line-height: 50px;
        font-size: 16px;
    }

    .chat-iframe-writeCont {
        height: 320px;
        padding-right: 10px;
        margin-bottom: 30px;
        overflow-y: scroll;
    }

    .chat-iframe-write p {
        margin-bottom: 10px;
        color: #999;
        line-height: 22px;
        font-size: 12px;
        text-align: left;
        text-indent: 1em;
    }

    .layui-form-item {
        margin-bottom: 15px;
        clear: both;
        *zoom: 1;
    }

    .chat-iframe-write .layui-form-label {
        padding: 5px 15px 5px 0;
        width: 80px;
    }

    .chat-iframe-write .layui-form-label span {
        color: red;
    }

    .chat-iframe-write [lay-submit] {
        height: 30px;
        padding: 0 25px;
        margin-top: 20px;
        background-color: #1e9fff;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .message-footer {
        font-size: 12px;
        color: hsla(0, 0%, 80%, .8);
        text-align: center;
        margin-top: 10px;
        width: 100%;
    }

    .chat-text-right i {
        font-size: 30px;
    }

    .chat-item {
        width: 100%;
        padding-bottom: 15px;
    }

    .chat-item.is-left .msg {
        text-align: left;
    }

    .chat-item .msg {
        position: relative;
    }
    .avatarBox{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chat-item .avatar {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        border-radius: 2px;
        z-index: 999;
    }

    .chat-item.is-left .avatar {
        left: 5px;
    }
    .chat-item.is-right .avatar {
        right: 5px;
    }

    img {
        border-style: none;
        vertical-align: middle;
        max-width: 100%;

    }
    .avatar img {
        border-radius: 50%;
    }

    .chat-item .content-box {
        position: relative;
        /*display: inline-block;*/
        vertical-align: top;
    }

    .chat-item.is-left .content-box {
        padding-right: 20.5px;
    }

    .chat-item.is-left .avatar ~ .content-box {
        padding-left: 45px;
    }
    .chat-item.is-right .avatar ~ .content-box {
        padding-right: 45px;
    }

    .chat-item.is-right .msg {
        text-align: right;
    }

    .chat-item.is-right .content-box {
        padding-left: 20.5px;
    }

    .chat-item.is-right .bubble {
        background: #95EC69;
        margin-right: 12px;
        color: #121e2c;
    }
    .chat-item.is-right .mineTop {
        text-align: right;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .chat-item .bubble {
        position: relative;
        display: inline-block;
        background: #fff;
        word-wrap: break-word;
        word-break: break-all;
        border: solid 1px #e3e5e4;
        border-radius: 5px;
        text-align: left;
        max-width: 80%;
    }
    .chat-item .bubble.fixed_width {
        width: 78%;
    }

    .chat-item.is-left .bubble {
        margin-left: 10px;
    }

    .chat-item .bubble .chat-content {
        padding: 8px;
        text-align: justify;

    }
    .chat-item .bubble pre {
        padding: 10.5px 0px;


    }
    .chat-item .is-right .bubble:before {
        left: 100%;
        border-left-color: #4979ff;
        border-left-width: 8px;
    }
    .chat-item .bubble:before {
        position: absolute;
        top: 8px;
        border: 6px solid transparent;
        content: " ";
    }

    .chat-issues {
        border-top: 1px solid #e6e6e6;
        padding: 5px 0;
    }

    .chat-issues .item {
        padding: 2px 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #4277E3;
        cursor: pointer;
    }

    .chat-item .tips {
        font-size: 12px;
        color: #999;
        text-align: center;
        padding: 10px 0 15px;
    }

    .chat-issues .more-help {
        margin-top: 5px;
        padding-bottom: 5px;
        border-top: 1px solid #e6e6e6;
        padding-top: 10px;
    }
    .on {
        display: none;
    }

    .timely-header p {
        height: 100%;
        line-height: 48px;
        padding: 0 115px 0 17px;
        font-weight: 300;
        color: #FFF;
        overflow: hidden;
    }

    .widget-layer-view{
        position: absolute;
        left: 2%;
        bottom: calc(50px + env(safe-area-inset-bottom));
        width: 96%;
        background: #fff;
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        z-index: 999;
    }
    .widget-layer-view ul {
        margin: 0 auto;
        overflow: hidden;
    }
    .widget-layer-view li{
        position: relative;
        z-index: 8;
        float: left;
        width: 25px;
        height: 25px;
        padding: 5px;
        margin-left: -1px;
        margin-top: -1px;
        cursor: pointer;
    }
    .widget-layer-view li:hover{
        z-index: 9;
        border-color: #eb7350;
    }
    .widget-layer-view .widget-panel {
        min-height: 10px;
        padding: 5px;
        color: #bdd0d1;
    }

    .tool-active {
        color: #1e9fff;
    }

    .change-items {
        color: #4277E3;
        text-align: center
    }
    .change-items img{
        width: 16px;
        height: 16px;
        margin-right: 2px;
        margin-top: -2px;
    }

    .timely-chat-footer {
        position: fixed;
        height: 52px;
        background-color: rgb(247, 247, 247);
        border-bottom: rgb(244, 244, 244);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 10px 0 0;
    }
    @supports (bottom: env(safe-area-inset-bottom)) {
        .timely-chat-footer.mobile{
            box-sizing: content-box;
            padding-bottom: constant(safe-area-inset-bottom);
            padding-bottom: env(safe-area-inset-bottom);
        }
    }
    .timely-chat-footer .chat-tool-face {
        width: 30px;
    }
    .timely-chat-footer .chat-tool-add {
        width: 30px;
    }
    .timely-chat-footer .inputWapper {
        width: calc(100% - 170px);
        height: 38px;
        border-radius: 4px;
    }
    .timely-chat-footer input{
        width: 100%;
        height: 100%;
        border: none;
        font-size: 14px;
        -ms-flex: 1;
        text-indent: 8px;
        border-radius: 4px;
        outline: none;
    }
    .timely-chat-footer .chat-send {
        color: #FFFFFF;
        background-color: #18bc9c;
        width: 54px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        font-size: 14px;
        border-radius: 3px;
    }
    .widget-layer{
        overflow: hidden;
        left: 0 !important;
        width: 99.5% !important;
    }

    .widget-word-nav {
        width: 100%;
        position: fixed;
        height: 50px;
        left: 0;
        bottom: calc(52px + env(safe-area-inset-bottom));
        background-color: #edf1f2;
        border: none;
    }
    .widget-word-nav ul{
        display: flex;
        height: 50px;
        overflow: scroll;
        padding: 0 10px;
        align-items: center;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: scroll;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-overflow-scrolling: touch;
    }
    .widget-word-nav ul li{
        background: #fff;
        color: #0a80ff;
        height: 36px;
        line-height: 36px;
        padding: 0 12px;
        border-radius: 20px;
        margin-right: 10px;
        cursor: pointer;
    }
    .chat-box-footer {
        padding-top: 8px;
        border-top: 1px solid #e6e6e6;
        text-align: center;
        color: #4277E3;
    }
    .chat-box-footer  button {
        padding: 5px 15px;
        border-radius: 20px;
        border: 1px solid #4277E3;
        outline: none;
        background: none;
        margin: 0 auto;
        color: #4277E3;
    }
    .chat-box-footer  button.change-items {
        height: 20px;
        line-height: 20px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        margin: 0 auto;
        color: #4277E3;
    }
    .chat-iframe-write .layui-form-label {
        padding: 0;
        width: 60px;
    }
    .chat-content img {
        max-width: 100px;
        max-height: 100px;
    }

    .kefu-container {
        width: 1000px;
        margin: 0 auto;
        position: relative;
    }
    .kefu-header {
        width: 1000px;
        height: 60px;
        background: green;
    }
    .kefu-cont {
        width: 1000px;
    }
    .visitor-cont {
        width: 200px;
        float: left;
        border-right: 2px solid #e6e6e6;
    }
    .kefu-chat-cont {
        width: 800px;
        float: left;
    }
    .visitor-list {
        height: 100px;
        padding: 5px 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #e6e6e6;
    }

</style>
<div class="kefu-container">
    <div class="kefu-header">
        fcdfrgrgggg
    </div>
    <div class="kefu-cont">
        <div class="visitor-cont">
            <div class="visitor-list">
            </div>
        </div>
        <div class="kefu-chat-cont">
            <div class="timely-chat-cont">
                <!-- 对话内容-->

                <div style="display: none" data-num="0" id="num"></div>

                <!--底部工具-->
                <div class="timely-chat-footer">
                    <img class="chat-tool-face" src="/assets/img/smile-face.png">
                    <textarea class="message"></textarea>
                    <div class="chat-send">发送</div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var kf_code = '{$kf_code}';
    var name = '{$name}';
    var avatar = '{$avatar}';
</script>
